In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\staru\appdata\local\programs\python\python312\lib\site-packages (9.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="1010",
 database="imdb_2024"
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024FD3F64CB0>

In [21]:
import pandas as pd

csv_file = 'modified_file.csv'  
df = pd.read_csv(csv_file)


create_table = """
CREATE TABLE IF NOT EXISTS movie_details (
    Movie_name VARCHAR(500),
    Genre VARCHAR(20),
    Duration VARCHAR(10),
    Rating INT,
    Voting VARCHAR(10)
);
"""

mycursor.execute(create_table)


sql = f"INSERT INTO movie_details (Movie_name, Genre, Duration, Rating, Voting) VALUES (%s, %s, %s, %s, %s)"


values_list = [(row['Title'], row['Genre'], row['Duration'], row['Rating'], row['Votes']) for index, row in df.iterrows()]


mycursor.executemany(sql, values_list)


mydb.commit()
mycursor.close()
mydb.close()

print("Data has been loaded into MySQL successfully!")

Data has been loaded into MySQL successfully!